.button {
    display: block;
    padding: 10px 32px 10px 32px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: $color-white;
    background-color: $color-accent;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    align-items: center;
    text-align: center;

    transition: box-shadow $cubic, transform $cubic;

    &:hover,
    &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }

    &:active {
        transform: scale(0.95);
    }



    &__filter {
    padding: 6px 25px 6px 25px;
	font-weight: 500;

	line-height: 1.62;
	letter-spacing: 0.03em;

	color: $color-primary;
	background-color: $button-color;
	transition: background-color $cubic, box-shadow $cubic, color $cubic;

    }

    &__filter--current,
    &__filter:hover,
    &__filter:focus {
        color: $color-white;
        background-color: $color-accent;
        box-shadow: $hover-border-button;
    }
    
}

.button-round {
    display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	top: 0;
	right: 0;
	padding: 0;

	width: 30px;
	height: 30px;

	border: 1px solid $svg-social-icon;
	border-radius: 50%;
	transform: translate(-8px, 8px);
	background-color: $color-white;

	transition: color $cubic;

    &:hover,
    &:focus {
        color: $color-accent;
    }
}


.menu-toggle {
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    width: 40px;
    height: 40px;
    border: 0;
    color: $color-primary;
    background-color: inherit;
    transition: color $cubic;
        &:hover,
        &:focus {
            color: $color-accent;
        }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

