.footer {
    padding: 60px 0;
    background-color: $bg-color-footer;

    &__section {   
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            align-items: baseline;
            flex-direction: row;
            flex-wrap: wrap;
            }

        @media screen and (min-width: 1200px) {
            display: inline-flex;
            text-align: left;
            flex-wrap: nowrap;
            margin-left: auto;
            margin-right: auto;
            }
        }  

    
    
    &__block {

        &:not(:last-child) {
            margin-bottom: 60px;
        }

        @media screen and (min-width: 768px) {
            &:first-child {
                margin-left: 76px;
                margin-right: auto;
            }

            &:nth-child(2) {
                margin-left: 0;
                margin-right: 89px;
            }
            &:last-child {
                margin-left: 166px;
                margin-right: auto;
            }
        }
        
        @media screen and (min-width: 1200px) {
            
            margin-bottom: 0;

            &:not(:last-child) {
            margin-right: 93px;
            margin-bottom: 0;
            }

            &:first-child {
                margin-right: 70px;
                margin-left: 0;
            }
            
            &:last-child {
            margin-left: 0;
            margin-right: 0;
                                           }
        }
    }





    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        
        line-height: 1.14;
        text-transform: uppercase;
        color: $color-white;
    }

    &__list {
        @media screen and (min-width: 1200px) {
            display: flex
        }

    }

    &__item:not(:last-child) {
        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }
        
    }

    &__icon--ml-10 {
        margin-left: 10px;
    }

    &__form {
        width: 450px;

        @media screen and (min-width: 1200px) {
        width: 570px;
        display: flex; 
        }


    }
 

    &__input {
        width: 450px;
        height: 50px;
        padding: 15px;
        background-color: $bg-color-footer;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
        
        transition: border-color $cubic;

        @media screen and (min-width: 1200px) {
            width: 358px;
        }

    }

    &__input:focus-visible {
        outline: none;
        border-color: $color-white;
    }


    &__button {
        display: flex;
        margin-top: 20px;
    
        

        
        width: 200px;
        height: 50px;
        padding: 10px 28px;

        @media screen and (min-width: 1200px) {
        margin: 0;
        margin-left: auto;
        }
        
        
    }

    &__button:hover,
    &__button:focus {
        box-shadow: 0px 4px 4px rgb(255 255 255 / 15%);
    }
    &__button:active {
        transform: scale(0.95)
    }
}

.address {
    font-style: normal;
    margin-top: 20px;

    &__list {
        text-align: center;
        width: 231px;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }


    &__item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__link {
        padding: 0;
        color: $color-alfa-white;
        line-height: 1.71;
    }
    &__link--white {
        color: $color-white;
    }
}