.section-portfolio {
    @include section-padd (60px, 60px);
    
        @media screen and (min-width: 1200px) {
            @include section-padd (94px, 94px);
        }

    &__block:first-child {
        margin-bottom: 40px;

        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
        
    }
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 10px;

    @media screen and (min-width: 768px) {
            justify-content: center;
            flex-wrap: nowrap;
            row-gap: 0;
        }



    &__item:not(:last-child) {
        margin-right: 8px;
     
        
    }

}

.grid {
	display: flex;
	flex-wrap: wrap;
    width: 100%;
        
    &__item {
        flex-basis: calc(($grid-item-size-mobile / 1) - $card-set-gap);
        
        
            @media screen and (min-width: 768px) {
                flex-basis: calc(($grid-item-size-tablet / 2) - $card-set-gap);
            
            }
            @media screen and (min-width: 1200px) {
                flex-basis: calc(($grid-item-size / 3) - $card-set-gap);
            }
        
    }
    
    &__item:not(:last-child) {
        margin-bottom: $card-set-gap;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
    
        @media screen and (max-width: 1199px) {
            &__item:not(:nth-child(2n)) {
                margin-right: $card-set-gap;
            }
    
            &__item:not(:nth-last-child(-n + 2)) {
                margin-bottom: $card-set-gap;
            }  
        }

    @media screen and (min-width: 1200px) {

        &__item:not(:nth-child(3n)) {
            margin-right: $card-set-gap;
        }
    
        &__item:not(:nth-last-child(-n + 3)) {
            margin-bottom: $card-set-gap;
        }
    }
    &__link {
        display: block;
        transition: box-shadow $cubic;
    }

    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__link:hover .portfolio-overlay,
    &__link:focus .portfolio-overlay {
        transform: translateY(0);
        opacity: 1;
    }
    

    &__thumb {
        position: relative;
         overflow: hidden;
    }
            
        
    &__thumb:hover::before {
        content: "";
        opacity: 1;    
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);

        transform: translateY(100%);
        opacity: 0;
        transition: transform $cubic, opacity $cubic;
        transform-origin: bottom center;
    }

    &__link:hover &__overlay,
    &__link:focus &__overlay {
        transform: translateY(0);
        opacity: 1;
    }

    &__overlay-text {
        font-size: 18px;
        line-height: 1.56;
        padding: 63px 24px;
        color: $color-white;
    }

    &__discr {
    	padding-top: 20px;
	    padding-bottom: 20px;
	    padding-left: 24px;
	    padding-right: 24px;
	    border: 1px solid $box-line-color;
	    border-top: none;


    }

.h147 {
    height: auto; 

    @media screen and (min-width: 768px) {
        height: 147px;
    }
 }


    &__title {
        margin-bottom: 4px;
    
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    
        color: $color-primary;
    }

    &__text {
        font-size: 16px;
        line-height: 1.88;
    
        color: $color-secondary;
    }

}