 .section-hero {
    @include section-padd (200px, 200px);
    position: relative;
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, $bg-color-hero, $bg-color-hero),
        url("../images/index/hero-bg.jpg");
    background-color: $bg-color-footer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        width: 686px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
            
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $color-white;
    }
 }
    
 