.section-clients {
    @include section-padd (60px, 60px);
    
        @media screen and (min-width: 1200px) {
            @include section-padd (94px, 94px);
        }

    &__title {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.1785;

    
        color: $color-primary;

        @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.1666;
        }               
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-column-gap: 30px;
        grid-row-gap: 30px;

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        } 
    }
    
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        
        flex-basis: calc((100% / 1) - 30px);
        &:last-child {
            margin-bottom: 0;
        }


        @media screen and (min-width: 480px) {
            flex-basis: calc((100% / 2) - 30px);
            
        }


        @media screen and (min-width: 768px) {
            flex-basis: calc((100% / 3) - 30px);
        }
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 92px;
        color: $svg-social-icon;
        border: 1px solid $svg-social-icon;
        
        border-radius: 4px;
        
        transform: scale(1);
        transition: box-shadow $cubic, border-color $cubic, color $cubic,
        transform $cubic;

        @media screen and (min-width: 768px) {
            width: 226px;
        }
        @media screen and (min-width: 1200px) {
            width: 170px;
        }

    }
        
    &__link:hover,
    &__link:focus {
        color: $color-accent;
        border-color: $color-accent;
        box-shadow: 0px 4px 4px 0px #00000040;
        transform: scale(1.05);
    }
    
    &__icon {
        fill: currentColor;
         background-color: transparent;
    }
}
