h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: currentColor;
}